body{
    padding: 0;
    margin: 0;
}

.biz-brand{
    font-family: tangerine;
    font-size: 40px;
}

.home{
    background: url("../imgs/portfolio/portpizza8.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}